<!-- jQuery Version 1.11.0 -->
   <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

   <!-- Bootstrap Core JavaScript -->
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

   <!-- Plugin JavaScript -->
   <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
   <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

   <!-- Custom Theme JavaScript -->
   <script src="{{ "/js/team.js" | prepend: site.baseurl }}"></script>
